<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cats for all!</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/main.css">
</head>
<body id="body">
    <h1>A Cat A Day Keeps The Doctor Away!</h1>
    <div class="container">
        <img src="<%= image.url %>" alt="random cat image">
        <p> <%= fact.fact %></p>
        <button type="button" onclick="location.href='/getfact'">Get another fact</button>
    </div>
    
    
</body>
</html>