body{
    font-family: 'Space Grotesk', sans-serif;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

p{
    font-size: 3em;
    text-align: center;
    color: black;
}

.container{ 
    margin: 5% 5%;
    padding: 25px;
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    place-items: center;
    background-color: white;
    border-radius: 30px;
}

.container img {
    grid-row: 1 / 4;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
    align-self: center;
    justify-self: center;
}

.container p {
    margin: 15px;
    font-size: 2em;
    min-width: 100%;
}

.container button{
    font-size: 1em;
    background-color: teal;
    color: white;
    padding: 20px;
    border: none;
    border-radius: 40px;
}


